{{ define "body" }}
  <ol>
    {{ range $index, $todo := . }}
      <li>
        <form action="/todo/{{ $index }}/update" method="post">
          <input type="text" name="value" value="{{ $todo }}">
          <button type="submit">Save</button>
        </form>
        <form action="/todo/{{ $index }}/delete" method="post">
          <button type="submit">Delete</button>
        </form>
      </li>
    {{ end }}
  </ol>
  <form action="/todo/add" method="post">
    <input type="text" name="value">
    <button type="submit">Add</button>
  </form>
{{ end }}
