{{ define "body" }}
  <ol>
    {{ range $index, $todo := .Data }}
      <li>
        <form method="post">
          <input type="text" name="value" value="{{ $todo }}">
          <div class="controls">
            <button type="submit" formaction="{{ $.Path }}/{{ $index }}/update">
              Save
            </button>
            <button type="submit" formaction="{{ $.Path }}/{{ $index }}/delete">
              Delete
            </button>
          </div>
        </form>
      </li>
    {{ end }}
  </ol>
  <form action="{{ $.Path }}/create" method="post">
    <input type="text" name="value" autofocus>
    <button type="submit">Add</button>
  </form>
{{ end }}
