{{ define "body" }}
  <ol>
    {{ range $index, $todo := .Data }}
      <li>
        <form action="{{ $.Path }}/{{ $index }}/update" method="post">
          <input type="text" name="value" value="{{ $todo }}">
          <button type="submit">Save</button>
        </form>
        <form action="{{ $.Path }}/{{ $index }}/delete" method="post">
          <button type="submit">Delete</button>
        </form>
      </li>
    {{ end }}
  </ol>
  <form action="{{ $.Path }}/create" method="post">
    <input type="text" name="value" autofocus>
    <button type="submit">Add</button>
  </form>
{{ end }}
